@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-mckinsey-navy: #051C2C;
  --color-mckinsey-blue: #005EB8;
  --color-mckinsey-light: #F0F4F8;
}

body {
  font-family: var(--font-sans);
  background-color: #FFFFFF;
  color: #1F2937;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
